.git/
.idea/
.nuxt/
.nyc_output/
.vscode/

apidoc/
build/
coverage/
dist/
docker/
node_modules/
test/
uml/

*.tgz
.codeclimate.yml
.dockerignore
.editorconfig
*/.env
.gitattributes
.gitignore
.mdlrc
.npmignore
.slugignore
.travis.yml
Procfile
renovate.json
SHASUMS256.txt
tslint.json
