.idea/
.nyc_output/
.vscode/

apidoc/
build/
coverage/
docker/
docs/
node_modules/
scripts/
test/
uml/

*.tgz
.codeclimate.yml
.dockerignore
.editorconfig
.env
.gitattributes
.gitignore
.mdlrc
.npmignore
.slugignore
.travis.yml
cc-test-reporter
Procfile
renovate.json
SHASUMS256.txt
tslint.json
